*,
*::after
*::before{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
li::marker{
    text-decoration: none;
}
body {
    background: #FFFCF6;
}
h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.02px;
}
h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
}
h3{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 28px;
    align-items: center;
    color: #FFFFFF;
}
.container{
    width: 1400px;
    max-width: calc(100% - 64px);
    padding: 0 32px;
}
.taskbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}
.wallpaper{
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 1600px;
    height: 900px;
    left: 0px;
    top:0px ;
    background: linear-gradient(0deg, rgba(31, 31, 31, 0.5), rgba(31, 31, 31, 0.5)), url(../img/mesa\ cafe.png);
    background-repeat: no-repeat;
    background-size: 1600px;
    color: #FFFFFF;
}
.text-material{
    display: flex;
    position: relative;
    width: 745px;
    flex-direction: column;
    justify-content: flex-end;
    top: 145px;
}
.main_title{
    display: flex;
    position: relative;
    left: 80px;
    color: white;
}
.header-list-items{
    display: flex;
    position: relative;
    width: 112px;
    left: 80px;
    top: 0;
}
.header-list-def{
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    left: 0;
    top:0;
}
.header-list-log{
    position: relative;
    width: 152px;
    height: 28px;
    left: 0;
    top: 0;
}
.header-list-sac{
    display: flex;
    position: relative;
    width: 18px;
    height: 20px;
    left: 0;
    top: 0;
}
.paragraph-wall{
    display: flex;
    position: relative;
    width: 459px;
    height: 40px;
    left: 80px;
    top: -60px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    color: white;
}
.left_side{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 22px;
    left: 80px;

}
.botão_1{
    display: flex;
    width: 56px;
    height: 56px;
    border:none;
    background-color:transparent; 
}
.botão_2{
    display: flex;
    width: 56px;
    height: 56px;
    border:none;
    background-color:transparent; 
    padding-left: 20px;
}

main .container{
    position: relative;
    width: 1400px;
    max-width: calc(100% - 64px);
    padding: 0 32px;
    top: 425px;
}
.about_us_1{
   display: flex;
  flex-direction: row;
}
.coffee-machine{
    display: flex;
    position: relative;
    width: 600px;
    height: 480px;
    left: 35px;
}
.cafe-magico{
    display: flex;
    position: relative;
    padding-left: 156px;
    height: 40px;
    font-size: 47px;
}
.p-1{
    display: flex;
    position: relative;
    padding-left: 160px;
    height: 160px;
    width: 500px;
    left: 0px;
    top: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #0B1D03;
}

.about_us_2{
    display: flex;
   flex-direction: row-reverse;
   align-items: flex-end;
}
.xicara-de-cafe{
    display: flex;
    position: relative;
    width: 600px;
    height: 480px;
    padding-top: 60px;
    right: 35px;
    top: 50px;
}
.muito-mais{
    display: flex;
    position: relative;
    width: 348px;
    height: 60px;
    padding-right: 160px;
    bottom: 245px;
    font-size: 48px;
}
.p-2{
    display: flex;
    position: relative;
    height: 60px;
    left: 0;
    bottom: 260px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #0B1D03;
}
.variedades{
    display: flex;
    position: relative;
    width: 581px;
    height: 60px;
    left: 35px;
    top: 90px;
    color: #A0996C;
}
.backprod{
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    height: 425px;
    width: 375px;
    top: 545px;
    left: 0px;
    border-radius: 8px;
    background: #F7F1E6;
    margin-left: 38px;
}
.marca{
    display: flex;
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    color: #0B1D03;
    height: 28px;
    width: 186px;
    left: 88px;
    top: 5px;
}
.products{
    display: flex;
    position: relative;
    padding: 20px 6px;
    bottom: 480px;
    right: 10px;
}
.product{
    display: flex;
    position: absolute;
    height: 178px;
    width: 146px;
    left: 117px;
    top: 85px;
    border-radius: 0px;
    background-size: 146px;
}
.price1{
    display: flex;
    position: absolute;
    height: 40px;
    width: 84px;
    left: 130px;
    top: 238px;
    font-size: 25px;
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    color: #0B1D03;
}
.price2{
    display: flex;
    position: absolute;
    height: 28px;
    width: 66px;
    left: 206px;
    top: 238px;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    color: #969696;
}
.buttongreen{
    display: flex;
    position: absolute;
    border-radius: 4px;
    border: none;
   height: 56px;
    width: 335px;
    left: 19px;
    top: 340px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 17px 0px 17px 85px;
    color: white;
    background: #0B1D03;
}
.servicos-items{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    top: 260px;
}
.text-center{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    top: 282px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.02em;
}
.text-center-1{
    display: flex;
    position: relative;
    left: 25px;
}
.text-center-2{
    display: flex;
    position: relative;
    left: 62px;
}
.text-center-3{
    display: flex;
    position: relative;
    left: 78px;
}
.text-center-4{
    display: flex;
    position: relative;
    left: 58px;
}
.text-center-5{
    display: flex;
    position: relative;
    left: 16px;
}
.coffe-img{
    display: flex;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/graos.png);
    background-position: 42px 104px;
    background-repeat: no-repeat;
    background-size: 615px;
    width: 704px;
    height: 590px;
    left: 0px;
    top: 2460px;
    color: white;
}
.acessorios-img{
    display: flex;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/bule.png);
    background-position: 42px 104px;
    background-repeat: no-repeat;
    background-size: 615px;
    width: 670px;
    height: 590px;
    left: 655px;
    top: 2460px;
    color: white;
}
.catalog-coffee{
    display: flex;
    position: absolute;
    width: 446px;
    height: 60px;
    left: 66px;
    top: 365px;
}
.coffee-types{
    display: flex;
    position: absolute;
    top: 470px;
    left: 70px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
}
.acessorios{
    display: flex;
    position: absolute;
    width: 279px;
    height: 60px;
    left: 75px;
    top: 370px;
    color: white;
}
.acessorios-paragraph{
    display: flex;
    position: absolute;
    letter-spacing: 0.04em;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    top: 470px;
    left: 75px;
    color: white;
}
.find-us{
    display: flex;
    position: absolute;
    width: 100%;
    height: 900px;
    top: 4100px;
    left:0;
    background:#FFFFFF;
}  
.background{
    display: flex;
    position: absolute;
    width: 1400px;
    height: 718px;
    top: 4120px;
    left: 0;
    background: white;
}
.typebox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.find-a-store{
    display: flex;
    position: absolute;
    width: 470px;
    height: 60px;
    left: 56px;
    top: 0;
}
.choose-city-box{
    display: flex;
    position: absolute;
    height: 50px;
    width: 410px;
    left: 45px;
    top: 148px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
}
.choose-city-info{
    display: flex;
    position: absolute;
    width: 180px;
    height: 28px;
    left: 20px;
    top:  6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.down-arrow{
    display: flex;
    position: absolute;
    left: 91.43%;
    right: 21.43%;
    top: 39.29%;
    bottom: 32.14%;
}
.say-adress{
    display: flex;
    position: absolute;
    width: 820px;
    height: 50px;
    left: 485px;
    top: 148px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
}
.say-adress-info{
    display: flex;
    position: absolute;
    width: 180px;
    height: 28px;
    left: 20px;
    top: 7px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.search{
    display: flex;
    position: absolute;
    left: 95.86%;
    right: 17.86%;
    top: 26.86%;
    bottom: 17.86%;
}
.search-map{
    display: flex;
    position: absolute;
    width: 1261px;
    height: 450px;
    left: 44px;
    top: 220px;
}
.footer{
    display: flex;
    position: absolute;
    /* justify-content: flex-start; */
    /* flex-direction: row; */
    width: 100%;
    height: 306px;
    background: #F7F1E6;
    top: 4800px;
    left: 0;
}
.blackcoffee{
    display: flex;
    position: relative;
    left: 80px;
    top: 5px;
    font-size: 28px;
}
a{
    text-decoration: none;
    color: #1F1F1F;
}
.list_1{
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    line-height: 35px;
    left: 372px;
    bottom: 64px;
    font-family: 'Lato';
}
.list_2{
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    line-height: 35px;
    left: 724px;
    bottom: 240px;
    font-family: 'Lato';
}
.list_3{
    display: flex;
    position: relative;
    width: 268px;
    height: 39px;
    left: 1068px;
    bottom: 406px;
    font-family: 'Lato';
}
.logo{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    top: 35px;
    right: 115px;
}
.logo_2{
    display: flex;
    position: relative;
    padding-left: 15px;
}
.logo_3{
    display: flex;
    position: relative; 
    padding-left: 15px;
}
.brand_8{
    display: flex;
    position: absolute;
    width:100%;
    height: 35px;
    top: 200px;
    right: 612px;
    margin-left: 0px;
    background-color: #F7F1E6;
}
.designed-by{
    display: flex;
    position: relative;
    left: 115px;
    top: 9px;
    align-items: center;
}
.logo_mentorama{
    display: flex;
    position: relative;
    width: 159.8px;
    height: 19.24px;
    left: 130px;
    top: 19px;
    background: url(../img/mentorama..png);
    background-repeat: no-repeat;
}

